body{
    background-color: #070F2B;
}

.calculator{
    background-color: #1B1A55;
    height: 500px;
    min-width: 300px;
    width: 300px;
    border-radius: 10px;
}

.head{
    background-color: transparent;
}

.body{
    background-color: transparent;
}

.screen{
    border: none;
    background-color: #535c914b;
    color: aliceblue;
    padding: 10px;
    height: 50% !important;
    width: 100% !important;
    pointer-events: none;
}

.screen-input{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: medium;
}

.screen-output{
    font-size: xx-large;
    text-align: right;
}

.button{
    background-color: aliceblue;
    width: 50px;
    height: 50px !important;
    border-radius: 10px;
    margin: 10px !important;
    cursor: pointer;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    font-size: large;
    font-weight: bold;
    color: #6a68b3;
}

.button-dark{
    background-color: #6a68b3  !important;
    color: aliceblue  !important;
}

.button-empty{
    background-color: transparent  !important;
    width: 50px;
    height: 50px !important;
    margin: 10px !important;
}


